<footer class="footer">
  <div class="footer__core">
    <div class="footer__section">
      <h3>{{ site.title }}</h3>
      <p class = 'mute'>Offering over 14 years of professional expertise in personal and organization security.</p>
      <p>
        <a href="https://twitter.com/{{ site.twitter}}" target = "_blank" rel = "nonopener"><img src = '/assets/icons/twitter.svg' class = 'contact-icon'></a></a>
      </p>
    </div>
    <div class = "footer__section">
      {% for item in site.data.footer %}
      <h4>{{ item.name }}:</h4>
      {{ item.details | markdownify }}
      {% endfor %}
    </div>
    <ul class = "footer__section">
      <h4>Top Links</h4>
      {% for item in site.data.menu %}
      <li>
        <a href = '/{{ item.link | downcase }}/'>{{ item.label }}</a> 
      </li>
      {% endfor %}
    </ul>
    <p>
      &copy; <span class = 'year'></span>
      <a href = '/'>{{site.title}}</a>
    </p>
  </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src = '/assets/index.js'></script>
<script src = '/assets/fluidvids.js'></script>