<div class="page__header">
  <div class="page__header--core">
    <div class = 'page__title'>
      <span class = 'toggle'>&#9776;</span>  
      <a href="/" class="page__title--brand">{{ site.title }}</a>
    </div>
    <ul class="nav">
      <li class = 'nav__mobile'> <!-- display only on mobile devices -->
        <a href="/" class="page__title--brand">{{ site.title }}</a>
        <img src = '/assets/icons/cancel.svg' class = 'nav__toggle'/>
      </li>
      {% for item in site.data.menu %}
      {% assign sublinks = item.sublinks | size %}
      <li class = 'nav__item'>
        <a href = '/{{ item.link | downcase }}/'>{{ item.label }}</a> 
        {% if sublinks >= 1 %}
        <ul class = 'nav__child'>
        {% for piece in item.sublinks %}
          <li class = 'nav__item'>
            <a href = '/{{ item.link | downcase }}/{{ piece.sublink | downcase }}/'> {{ piece.label }}</a>
          </li>
        {% endfor %}
        </ul>
        {% endif%}
      </li>
      {% endfor %}
    </ul>
    <div class = 'overlay'></div>
  </div>         
</div>
