<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.title }}</title>
  <meta itemprop = 'description' name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml"> -->
  <meta name="theme-color" content="#ffffff">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,400i,700,700i" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/main.css">
</head>