@keyframes open__menu{
  0%{
    width: 0;
    opacity:0;
  }
  100%{
    width: 300px;
    opacity: 1;
  }
}

@keyframes close__menu{
  0%{
    width: 300px;
    opacity: 1;
  }
  100%{
    width: 0;
    opacity:0;
  }
}