// Element selectors

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQIW2NkAIJ3796lCQkJzWIEMUACIMCILAMA4akLNLnBLHEAAAAASUVORK5CYII=) repeat;  
  font-family: 'Exo 2', Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

$reducer: 1;
@for $i from 1 through 6 {
  $reducer: $reducer - 0.05;
  $size: percentage((150 * $reducer)/100);
  h#{$i} {
    @extend %heading;
    font-size: $size;
  }
}

h2 a:link {
  @extend %links;
}
	
h2 a:visited {
  @extend %links;
}

h3 a:link {
  @extend %links;
}
	
h3 a:visited {
  @extend %links;
}

p { 
  padding:10px 0;
  color: lighten($dark, 10%);
}
a {
  color: inherit;
} 

img{
  max-width: 100%;
}
code {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
blockquote {
  @include shadow;
  background: $mute;
  border-left: 10px solid $lighten;
  margin: $margin*1.5 $padding;
  padding: $margin $padding;
  text-align: left;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: $lighten;
    content: open-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  p {
    display: inline;
  }
}