.highlight{
  position: relative;
  pre {
    margin: 35px $padding;
    background-color: $light;
    padding: $margin $padding $margin $margin;
    position: relative;
  }
  pre, &__copy{
    @include shadow(0.4);
  }
  &__copy{
    position: absolute;
    right:$padding;
    top:0;
    padding:$padding $margin;
    cursor: pointer;
    background:$dim;
    opacity:0;
    z-index:1;
    transition: opacity 0.3s ease-out;
  }
  &:hover > &__copy{
    opacity: 1;
  }
}

@media print   {    
  a:after {    
    content: " [" attr(href) "] ";    
  }    
}  

.posts {
  list-style-type: none;
  h1 {
    margin: 1em 0 .5em .5em;	
  }
  p:first-letter{  
    display: block;  
    margin: 0 0 0 $padding;  
  }  
}

.post {
  @include shadow(0.4);
	background-color:$light;
	padding: 1em;
  margin:$margin 0;
  &__meta{
    @extend %meta;
    font-size: 90%;
    line-height: 1.2em;
  }
  &__tags{
    @extend %meta;
    font-size: 90%;
  }
  &__title{
    a{  
      margin-bottom:0.8rem;
      display: inline-block;
      padding:0;
    }
  }
}

.pagination {
  text-align: center;
  display:block;
  margin:$margin*2 auto 0 auto;
  a:hover {
    background-color: $dim;
    color: $dark;
  }
  a, span {
    @include shadow;
    padding: 5px $padding;
    margin-left: 2px;
    margin-right: 2px;
    background-color: $mute;
    display: inline-block;
    border-radius:50%;
    margin-bottom:30px;
  }
}


.title {
  display: inline-block;
  margin-bottom: 2em;
  a {
    color: $light;
  }
  a:hover {
    color: $dark;
  }
}

// NAVIGATION MENU 

.nav {
  @include shadow(0.3);
  display: flex;
  flex-direction: column;
  order: 2;
  position: fixed;
  left: 0;
  top:0;
  bottom: 0;
  margin:0;
  width:0;
  opacity: 0;
  overflow: hidden;
  background-color:$light;
  color: $dark;
  padding:0;
  a{
    text-decoration: none;
    color: $dark;
    transition: color 0.25s ease-in;
  }
  a:hover{
    color: $lighten;
    text-decoration: underline;
  }
  &,&__child{
    list-style: none;
  }
  &__child{
    padding-left: $padding;
  }
  &__item{
    position: relative;
    padding:0;
    a{
      @include shadow;
      display:block;
      padding:$padding 0;
    }
  }
  &__mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }
  &__toggle{
    width:$margin;
    cursor:pointer;
    margin-left:$margin;
  }
  @media screen and (min-width: $breakpoint) {
    box-shadow: none;
    color: $light;
    width: 50%;
    opacity: 1;
    padding: 0 $margin;
    position: relative;
    flex-direction: row;
    background: transparent;
    overflow: visible;
    a {
      color: $mute;
    }
    a:hover {
      color: $light;
    }
    &__child{
      background-color: $lighten;
      position: absolute;
      top:100%;
      left:0;
      width:100%;
      height:0;
      padding-left: 0;
      overflow: hidden;
    }
    &__item{
      flex: 1;
      padding:$padding $margin;
      a{
        box-shadow: none;
        padding:0;
      }
    }
    &__item:hover > &__child{
      height:initial !important;
    }
    &__mobile{
      display:none;
    }
  }
}

.page{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  position:relative;
  min-height: 100%;
  &__body {
    @include maxWidth(800px, $margin);
    flex:1;
    text-align: left;
    width: 100%;
    padding: $margin;
    hr {
      @include maxWidth(240px, $padding);
      width: 50%;
      border: 1px dashed $lighten;
    }
    ul{
      padding-left:$margin;
    }
  }
  
  &__header {
    padding:0;
    width: auto;
    background: linear-gradient(to bottom, $dark 0%,$lighten 100%); 
    &--core {
      @include maxWidth;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width: $breakpoint) {
        align-items: center;
      }
    }
    .extra {
      color: $mute;
      margin-left: 1em;
      &:hover {
        color: $dark;
      }
    }
  }
  &__title {
    color:$light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--brand{
      color: inherit !important;
      padding: 1rem 0;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

// Footer

.footer {
  font-size: 0.9rem;
  padding:$margin 0;
  color: $light;
  background: linear-gradient(to bottom, $lighten 0%, $dark 100%);
  h3,h4{
    color: inherit;
  }
  li{
    padding: $padding/2 $padding;
  }
  p{
    color: darken($mute,10%);
    width: 100%;
    padding: $padding/2 0;
  }
	&__core{
    @include maxWidth;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $breakpoint) {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
  &__section{
    list-style: none;
    @media screen and (min-width: $breakpoint) {
      width:29%;
    }
  }
}

.video{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}