%heading{
  color: #000;
  margin:0.5rem 0;
  width: 95%;
  // text-shadow: 1px 2px 2px #aaa;
}
%links{
  color: $dark;
	text-decoration: none;
}
%meta{
  color: #777;
  font-family: Monaco, "Courier New", monospace;
  margin: .2em 0 1em 0;
}