@mixin maxWidth($width: 1024px, $margin:0, $padding: 25px ){
  max-width: $width;
  margin: $margin auto;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin shadow($opacity: 0.2){
  box-shadow: 0 25px 40px -10px rgba(158, 174, 221, $opacity);
}