.open__menu{
  animation: open__menu 0.5s ease-out forwards;
  padding:$margin;
  z-index:999;
  ~ .overlay{
    position: fixed;
    z-index: 1;
    background-color: rgba(158, 174, 221, 0.4);
    width:100vw;
    top:0;
    left:0;
    bottom:0;
  }
}
.close__menu{
  animation: close__menu 0.5s ease-out forwards;
}
.toggle{
  margin-right:$padding;
  cursor: pointer;
  @media screen and (min-width: $breakpoint) {
    display: none;
  }
}
.mute{
  color: $mute;
}

.disclaimer { 
  @include shadow(0.4);
  margin: $margin $padding;
  font-size: 0.96rem;
  color: $dark;
  background-color: $mute;
  padding: $margin;
}
.container {
  @include maxWidth(600px, $padding);
  text-align: center;
}
.error{
  width:150px;
}
.contact-icon{
 width: $margin;
 fill:$light !important;
}
.active{
  background-color: $dim !important;
}