---
layout: default
title: Blog
pagination:
  enabled: true
---

<div id="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post__meta">{{ post.date | date_to_string }} | <a href="{{ post.url }}#disqus_thread">Comments</a><br>{{post.threatmodel}}</div>
        <p>{{ post.excerpt | truncate : 360 | strip_html }}</p>
        <br><div class="post__tags">Tags: {{page.tags}}</div>
      </div>
      <hr>
    {% endfor %}
  </div>
  {% if paginator.total_pages > 1 %}
  <div class="pagination"> 
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo;</a>
    {% else %}
      <span>&laquo; </span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="active">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="/blog/">{{ page }}</a>
      {% else %}
        <a href="/blog/{{ page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | replace: '//', '/' }}"> &raquo;</a>
    {% else %}
      <span> &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>