<!DOCTYPE html>
<html>
  {% include head.html %}
	<body>
    <div class="page">
      {% include header.html %}
      <div class="page__body">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>