---
layout: default
---
<h2 class="post__title">{{ page.title }}</h2>
<div class="post__meta">
  {{ page.date | date_to_string }}<br>
  {{page.threatmodel}}
</div>

<div class="post__body">
  {{ content }}
  <br>
  <div class="post__tags">
    Tags: {{ page.tags }}
  </div>
</div>

{% include disclaimer.html %}

{% include disqus.html %}
    